* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    background-image: url(imagens/products-min.png);
    width: auto;
    height: auto;
}

header {
    position: fixed;
    /* Fixa o cabeçalho no topo */
    top: 0;
    left: 0;
    width: 100%;
    /* Ocupa toda a largura */
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    /* Cor do texto */
    display: flex;
    align-items: left;
    justify-content: left;
    z-index: 1000;
    /* Fica acima do conteúdo */
}

/*Botoes seçao header*/
.buttonhome {
    left: 50px;
}
.buttonvideo{
    left: 80px;
}

.buttonvideo, .buttonhome {
    position: relative;
    top: 5px;
}

#buttonhomestyle , #buttonvideostyle {
    font-size: larger; /* Aumenta o tamanho da fonte */
    background-color: transparent; /* Cor de fundo transparente */
    color: white; /* Cor do texto */
    border: none; /* Remove borda padrão */
    border-radius: 50px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de clique */
    width: 140px; /* Largura do botão */
    height: 50px; /* Altura do botão */
}

#buttonhomestyle:hover , #buttonvideostyle:hover {
    background-color: #2f2f2f;
}


/*main pra organizar os videos*/
main {
    color: white;
    flex: 1;
    /* Faz o conteúdo principal ocupar o espaço disponível */
    padding: 20px;
    width: auto;

}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


/*------------------------------------------------------------------------------------------*/
/*parte do fundo do inicio do site*/
.containerfundo {
    max-width: auto;
}

.div-fundo {
    width: 100%;
    padding-top: 56.25%; /* Proporção 16:9 */
    position: relative; /* Permite o controle da camada */
    z-index: 1; /* Fundo estará abaixo dos cards */
}

.div-fundo img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; /* Garante que a imagem cubra toda a área sem distorcer */

}
/*------------------------------------------------------------------------------------------*/
/*parte dos cards*/

/* Container para a linha de cards */
.card-row {
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colunas */
    gap: 30px; /* Espaço entre os cards */
    padding: 20px;
    justify-content: center; /* Centraliza os cards */
    position: relative; /* Garante que os cards fiquem no topo */
    z-index: 10; /* Z-index maior para ficar acima do fundo */
    margin-top: -400px; /* Ajuste para garantir que os cards subam um pouco e fiquem mais próximos do topo da tela */
}

/* Estilo do card */
.card {
    color: white;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Evita que o conteúdo ultrapasse o card */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito de animação */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
}


/* Imagem do card */
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Conteúdo do card */
.card-content {
    padding: 15px;
}

.card-content h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #ffffff;
}

.card-content p {
    font-size: 1em;
    color: #ffffff;
}

/* Efeito ao passar o mouse no card */
.card:hover {
    transform: translateY(-5px); /* Move levemente para cima */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
}
/*------------------------------------------------------------------------------------------*/
/*faz com q a rolagem da site seja suave quando clicar no CARD ou nos botoes INICIO*/
html {
    scroll-behavior: smooth;
}
/*------------------------------------------------------------------------------------------*/
/* Estilo dos botões para mandar pro topo do site */
.topo-buttons {
    display: flex;
    justify-content: right; /* Centraliza os botões */
    top: 100px;
}

.topo-button {
    position: relative;
    top: -640px;
    font-size: 16px;
    background-color: #404041;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    transition: background-color 0.3s ease;
}

/* Efeito ao passar o mouse */
.topo-button:hover {
    background-color: #2f2f2f;
}

/*------------------------------------------------------------------------------------------*/
/*Parte das imagens*/

/* Estilo para a div que contém a imagem */
.musica-container {
    width: 100%;            /* Define a largura da div */
    height: auto;           /* Define a altura da div */
    border: 2px solid #000;  /* Borda para visualização */
    overflow: hidden;        /* Garante que a imagem não ultrapasse os limites da div */
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza a imagem dentro da div */
    margin-bottom: 600px;     /* Espaço abaixo de cada imagem */
    margin-top: 400px;        /* Espaço acima de cada imagem */
}


.musica-container img {
    width: 100%;             /* Ocupa 100% da largura da div */
    height: 100%;            /* Ocupa 100% da altura da div */
}

#div-musica{
    height: 750px;
    width: auto;
    object-fit: contain;  /* A imagem será redimensionada sem cortar as bordas e mantendo a proporção */
    object-position: center; /* Garante que a imagem seja centralizada dentro da div */
}
/*------------------------------------------------------------------------------------------*/
/*perte do controlador mp3*/
.div-controlmusica{
    display: flex;
    justify-content: right; /* Centraliza os botões */
    top: 100px;
}

.controladormusica{
    position: relative;
    opacity: 50%;
    top: -642px;
    font-size: 16px;
    color: rgb(255, 0, 0);
    border: 50px;
    border-radius: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    transition: background-color 0.3s ease;
}
/*------------------------------------------------------------------------------------------*/

.logo-container {
    width: 100%;            /* Define a largura da div */
    height: auto;           /* Define a altura da div */
/*  border: 2px solid #000;  Borda para visualização */
    overflow: hidden;        /* Garante que a imagem não ultrapasse os limites da div */
    display: relative;
    align-items: center;
    justify-content: center; /* Centraliza a imagem dentro da div */
    padding-left: 30px
}


.logo-container img {
    width: 100%;             /* Ocupa 100% da largura da div */
    height: 100%;            /* Ocupa 100% da altura da div */
}

#div-logo{
    height: 60px;
    width: auto;
    object-fit: contain;  /* A imagem será redimensionada sem cortar as bordas e mantendo a proporção */
    object-position: center; /* Garante que a imagem seja centralizada dentro da div */
}
